streamlit
sqlalchemy
psycopg2-binary
pgvector
beautifulsoup4
tqdm
pydantic
sentence-transformers
transformers
torch
lxml
rank_bm25
requests
bcrypt
gradio
uvicorn
fastapi
pydantic
html2text
PyPDF2
oci
oracledb
